body{
    background-image: url(https://cdn.pixabay.com/photo/2014/07/28/20/39/sunset-404072_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
section{
    
    padding: 5%;
    text-align: center;
    width: 80%;
}
#div1{
    width: 390px;
    height: 450px;
    background-color: rgba(198, 166, 73, 0.27);
    padding: 20px;
    box-shadow:   4px 5px 4px 5px rgb(103, 77, 24);
    
}
#div2{
    width: 370px;
    height: 300px;
}
#div1, #div2
{
    display: inline-block;
    padding: 2%;
}
.height{
    height: 20px;
}
#btn, #btn1{
    width: 100px;
    border-color: black;
    background-color: transparent;
    
}
#btn:hover,#btn1:hover{
    background-color: azure;
    color: brown;
}